

/*Creazione  tabella*/
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  width: 100px;;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font: Arial;
  background-color: white;
}

.table thead tr{
   background-color: #009879;
   color: #ffffff;
   text-align: center;
   border-top: 2px solid #009879;
   border-left:2px solid #009879;
   border-right:2px solid #009879;
}

.table th, .table td{
   padding: 12px 15px;
}

.table tbody tr{
   border-bottom: 1px solid #dddddd;
}


.table tbody tr:nth-of-type(even){
   background-color: #f3f3f3;
}

.table tbody tr:last-of-type{
   border-bottom:2px solid #009879;
}

.table tbody tr{
   border-left:2px solid #009879;
   border-right:2px solid #009879;
}


/*Ricerca del pokemon*/
.input{
   display: inline-block;
   font-size: 20px;
   box-sizing: border-box;
   transition: 0.5s;
   padding: 10px;
}

.numero{
   background:#ffffff;
   padding: 0 25px;
   border: 0.5px solid #009879;
   outline : none;
   position: relative;
   left: 918px;
   bottom: 20px; 
   width: 340px;
   height: 50px;
}

.ricerca{
   position: relative;
   left: 918px;
   bottom: 20px;
   width: 120px;
   height: 50px;
   border: 0.5px solid #009879;
   cursor: pointer;
   background:#ffffff ;
   color:black;
}

.ricerca:hover {
   background-color: #009879;
 }

/*Creazione  tabella*/

.Titolo{
   font-size: 50px;
   text-align: center;
}

/* background*/




/*frociazzo*/